* {
    margin: 0;
    padding: 0;
    color: rgb(43, 34, 34);
    box-sizing: border-box;
}
  
html {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
  
body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: green;
}
  
.header {
    height: 90vh;
    position:relative;
}
  
.navbar {
    height: 100px;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}
  
.navbar-box {
    display:flex;
    align-items:center;
    font-size: 32px;
    color: rgb(0, 0, 0);
}
  
.heading-tertiary {
    font-size: 30px;

}

.nav-list {
    list-style: none;
    font-size: 10px;
}
  
.navbar-item {
    display: inline-block;
}
  
.navbar-link:visited,
.navbar-link:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 36px;
    transition: all 0.2s ease;
}
  
.navbar-link:hover {
    background-color: rgb(150, 150, 226);
    color: rgb(228, 195, 195);
}
  
.navbar-link:visited,
.navbar-link-reserve {
    text-decoration: none;
    color: rgb(110, 110, 71);
    padding: 24px 48px;
    border: 1px solid rgb(212, 233, 164);
    border-radius: 200px;
    box-shadow: 0 0 16px rgb(67, 168, 111 .4);
    text-shadow: 4.8px rgb(194, 194, 149);
    transition: all 0.4s ease;
}
  
.navbar-link-reserve:hover {
    background-color: rgb(76, 107, 107);
    color: beige;
}
  
.toggle {
    height: 100px;
    width: 100px;
}
  
.toggle div {
    height: 10px;
    width: 100%;
    background-color: white;
    margin: 16px;
}

.header-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    color: rgb(248, 248, 247);
}
.video {
    width: 100%;
    height: 100%;
    background-color: rgb(32, 29, 29,.10);
    position: absolute;
    bottom: 0;
    right: 0;
}

#video { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.header-box{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50% -50%);
    text-align: center;
    text-transform: uppercase;
    color: rgb(8, 5, 5);
}

.heading-primary {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.Jerk-Chicken{
    color: rgb(252, 252, 6);
    font-weight: 800;
    font-size: 90px;
}
.Lead { 
    font-size: 30.4px;
    font-weight: 700;
    letter-spacing: 4px;
}

.Reserved-your-table-now:visited,
.Reserved-your-table-now:link{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 32px;
    padding: 32px;margin-top: 48;
    border: 1px solid rgb(206, 206, 104);

    border-radius: 110px;
    transition: all .3s ease;
    box-shadow:0 16px 16px yellow;
    text-shadow: 16px 16px;
    
}


/*menu*/

.menu {
    width: 100%;
    padding: 160px 80px;
    background-image: linear-gradient(to right bottom, black(255, 81. 0)yellow (225,0,0.5));
}

.menu-heading{
    font-size: 150px;
    text-align: center;
    text-shadow: 1px;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
}

.menu-grid {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 15px;
}
.header-secondary {
    font-size: 110px;
    text-transform: uppercase;
    color: darkred;
    text-align: center;
}
.menu-img {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Jerk-Chicken.jpg);
}
.menu-img2 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Jerk-Pork.jpg);
}
.menu-img3 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Fry-Chicken.jpg);
}
.menu-img4 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Steamed-veggie.jpg);
}
.menu-img5 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Curry-chicken.jpg);
}
.menu-img6 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(brownstrew.jpg);
}
.menu-img7 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(brown-stew-chicken.png);
}
.menu-img8 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Pasta-Dish.jpg);
}
.menu-img9 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Egg-on-Lettice-Carrots-and\ Mushroom.jpg);
}
.menu-img10 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Clam-and-Vetable-Soup.jpg);
}
.menu-img11 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Mediterranean-Scallops.jpg);
}
.menu-img12 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Steamed-veggie.jpg);
}
.menu-img13 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Curry-chicken.jpg);
}
.menu-img14 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(brownstrew.jpg);
}
.menu-img15 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(brown-stew-chicken.pngv);
}
.menu-img16 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Steamed-veggie.jpg);
}
.menu-img17 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Jerk-Chicken.jpg);
}
.menu-img18 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Jerk-Pork.jpg);
}
.menu-img19 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Fry-Chicken.jpg);
}
.menu-img20 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Steamed-veggie.jpg);
}
.menu-img21 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Curry-chicken.jpg);
}
.menu-img22 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(brownstrew.jpg);
}
.menu-img23 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(brown-stew-chicken.pngv);
}
.menu-img24 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: left;
    background-image:url(Steamed-veggie.jpg);
}

.menu-container{
    width: 100%;
    height: 140px;
    background-color: rgb(238, 235, 58);
    border-radius: 100px;
    box-shadow: 0 0 32px black;
}
.menu-container:hover{
    box-shadow: 0 0 60px black;
    transform: scale(1.07);
}

.menu-c {
    font-size: 16px;
    padding: 16px;
    text-align: center;
}
.menu-title {
    font-size: 20px;
    text-align: center;
}

.price {  
    font-size: 28px;
    margin-top: 16px;
    text-align: center;
    color: black;

}







.right-img {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    align-self:left;
}
  
footer{
    font-size: small;
    
    background-color: rgb(2, 2, 1);
}